<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam" />
    <meta name="robots" content="index, follow">
    <title>Ranavid Apps</title>
    <link rel="icon" href="img/favicon.png">
  </head>

  <body>

    <navbar-app></navbar-app>
    <!-- main section  -->
    <loading-animation></loading-animation>
    <main id="main-content">
    </main>

    <footer-app></footer-app>
    <script>

    </script>
  </body>

</html>