@use './colors';

@mixin box-border {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin box-inherit {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

@mixin margin-section($mtSize: 3em) {
  margin-top: $mtSize;
}

@mixin d-red() {
  color: colors.$secondary-color;
  margin-left: -0.2em;
}

@mixin heading1($color: colors.$primary-color) {
  color: $color;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@mixin heading2() {
  color: colors.$primary-color;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

@mixin heading3($lineHeight: 0rem) {
  color: colors.$primary-color;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: $lineHeight;
}

@mixin sub-heading($fontSize) {
  color: colors.$secondary-color;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: $fontSize;
}

@mixin text-content($fontSize) {
  color: colors.$third-color;
  font-weight: 400;
  font-size: $fontSize;
}

@mixin solid-btn($paddingSize) {
  padding: $paddingSize;
  min-height: 44px;
  background-color: colors.$secondary-color;
  border: 1px solid colors.$secondary-color;
  font-weight: bold;
}