@use './colors';
@use './mixins';

.bg-red {
  background-color: colors.$secondary-color;
}

.accessibility-44 {
  min-height: 44px;
  min-width: 44px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.active-shadow:hover {
  box-shadow: 0 0px 8px 0 rgba($color: #000000, $alpha: .2);
}

// Card-Kamar
.card-kamar {
  box-shadow: 0px 0.3px 0.4px rgba(0, 0, 0, 0.02), 0px 0.7px 1.1px rgba(0, 0, 0, 0.028), 0px 1.3px 2px rgba(0, 0, 0, 0.035), 0px 2.2px 3.6px rgba(0, 0, 0, 0.042), 0px 4.2px 6.7px rgba(0, 0, 0, 0.05), 0px 10px 16px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 2px solid colors.$fourth-color;

  .nama-rs {
    @include mixins.heading3();
    line-height: 1.2;
    margin-bottom: .5rem;
  }

  .alamat-rs {
    @include mixins.heading3();
    font-size: .8rem;
    margin-bottom: .5rem;
    line-height: 1.2;
  }

  .update-rs {
    @include mixins.heading3();
    font-size: .75rem;
    margin-bottom: 1.25rem;
    line-height: 1.2;
    font-weight: 400;
  }

  .btn-rs-ready {
    @include mixins.solid-btn($paddingSize: .5rem);
    background-color: colors.$primary-color;
    border: 1px solid colors.$primary-color;
  }

  .btn-rs-not {
    @include mixins.solid-btn($paddingSize: .5rem);
  }
}